<section id="projects">
  <h2
    class="numbered-heading"
    data-sr-id="3"
    style="
      visibility: visible;
      opacity: 1;
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
        transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    "
  >
    Some Things I’ve Built
  </h2>
  <ul class="featured__StyledProjectsGrid">
    <li
      *ngFor="let project of projects"
      class="featured__StyledProject"
      style="
        visibility: visible;
        opacity: 1;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
          transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
      "
    >
      <div class="featured__StyledProject-content">
        <div>
          <p class="featured__StyledProject-overline">Featured Project</p>
          <h3 class="featured__StyledProject-title">
            <a
              [href]="project.external_link"
              rel="noopener noreferrer"
              target="_blank"
              >{{ project.name }}</a
            >
          </h3>
          <div class="featured__StyledProject-description">
            <p>
              {{ project.description }}
            </p>
          </div>
          <ul class="featured__StyledProject-tech-list">
            <li *ngFor="let tool of project.tools">{{ tool }}</li>
          </ul>
          <div class="featured__StyledProject-links">
            <a [href]="project.github" target="_blank" rel="noreferrer">
              <div
                class="featured__StyledProject-links-svg"
                [innerHTML]="github"
              ></div>
            </a>
            <a [href]="project.external_link" target="_blank" rel="noreferrer">
              <div
                class="featured__StyledProject-links-svg"
                [innerHTML]="external"
              ></div>
            </a>
          </div>
        </div>
      </div>
      <div class="featured__StyledProject-image">
        <a
          [href]="project.external_link"
          rel="noopener noreferrer"
          target="_blank"
          ><div class="featured__StyledProject-image-img">
            <div style="max-width: 700px; display: block">
              <img
                alt=""
                role="presentation"
                aria-hidden="true"
                src="data:image/svg+xml;charset=utf-8,%3Csvg height='438' width='700' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3C/svg%3E"
                style="max-width: 100%; display: block; position: static"
              />
            </div>
            <picture>
              <img
                width="700"
                height="438"
                sizes="(min-width: 700px) 700px, 100vw"
                decoding="async"
                [src]="project.image_src"
                [alt]="project.name"
                style="
                  object-fit: fill;
                  opacity: 1;
                  border-radius: 4px;
                " /></picture
            ><noscript></noscript></div
        ></a>
      </div>
    </li>
  </ul>
</section>
