<section
  id="contact"
  class="contact__StyledContact fMdyDu"
  data-sr-id="15"
  style="
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
      transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  "
>
  <h2 class="contact__StyledContact-numbered-heading contact__StyledContact-overline">What’s Next?</h2>
  <h2 class="contact__StyledContact-title">Get In Touch</h2>
  <p>
    Although I’m not currently looking for any new opportunities, my inbox is
    always open. Whether you have a question or just want to say hi, I’ll try my
    best to get back to you!
  </p>
  <a
    class="contact__StyledContact-email-link"
    href="mailto:vinitsharma9876@gmail.com"
    rel="noopener noreferrer"
    target="_blank"
    >Say Hello</a
  >
</section>
