.bio {
    &__wrapper {
        height: auto; // TODO: Change with media query
        padding-top: var(--nav-height); // TODO: Change with media query
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        flex-direction: column;
        align-items: flex-start;
        min-height: 100vh;
        // height: 100vh;
        // padding: 0px;
    }

    &__greet {
        margin: 0px 0px 30px 4px;
        color: var(--green);
        font-family: var(--font-mono);
        font-size: clamp(var(--fz-sm),5vw,var(--fz-md));
        font-weight: 400;
    }

    &__oneliner {
        // margin-top: 5px;
        color: var(--slate);
        line-height: 0.9;
    }

    &__description {
        p {
            // a {
            //     display: inline-block;
            //     text-decoration: none;
            //     text-decoration-skip-ink: auto;
            //     position: relative;
            //     transition: var(--transition);
            //     color: var(--green);

            //     &:hover, :active, :focus {
            //         color: var(--green);
            //         outline: 0px;

            //         &::after {
            //             width: 100%;
            //         }
            //     }

            //     &::after {
            //         content: "";
            //         display: block;
            //         width: 0px;
            //         height: 1px;
            //         position: relative;
            //         // bottom: 0.37em;
            //         bottom: 0.17em;
            //         background-color: var(--green);
            //         transition: var(--transition);
            //         opacity: 0.5;
            //     }
            // }
        }
    }
}

.big-heading {
    margin: 0px;
    font-size: clamp(40px, 8vw, 80px);
}