<section
  id="jobs"
  class="jobs__section"
  data-sr-id="2"
  style="
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
      transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  "
>
  <h2 class="numbered-heading">Where I’ve Worked</h2>
  <div class="jobs__inner">
    <div class="jobs__tablist">
      <button
        class="jobs__tablist-btn"
        [ngClass]="job.name === selected_job.name ? 'selected' : ''"
        (click)="handleJobTab(idx)"
        *ngFor="let job of jobs; let idx = index"
      >
        {{ job.name }}
      </button>
    </div>
    <div class="jobs__tabpanels">
      <div class="jobs__tabpanel fadedown-enter-done">
        <h3 class="jobs__tabpanel-h3">
          <span>{{ selected_job.title }}</span
          ><span class="jobs__tabpanel-company"
            >&nbsp;@&nbsp;<a
              [href]="selected_job.href"
              class="inline-link"
              rel="noopener noreferrer"
              target="_blank"
              class="a__highlighted_underlined"
              >{{ selected_job.name }}</a
            ></span
          >
        </h3>
        <p class="jobs__tabpanel-range">
          {{ selected_job.start_date }} - {{ selected_job.end_date }}
        </p>
        <div>
          <ul class="jobs__tabpanel-list">
            <li *ngFor="let task of selected_job.noteworthy_tasks">
              {{ task }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
