.jobs {
//   &__section {
//   }

  &__inner {
    display: flex;
  }

  &__tablist {
    position: relative;
    z-index: 3;
    width: max-content;
    padding: 0px;
    margin: 0px;
    list-style: none;

    &-btn {
      text-decoration: none;
      text-decoration-skip-ink: auto;
      position: relative;
      transition: var(--transition);
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      width: 100%;
      height: var(--tab-height);
      padding: 0px 20px 2px;
      border-left: 2px solid var(--lightest-navy);
      background-color: transparent;
      color: var(--green);
      font-family: var(--font-mono);
      font-size: var(--fz-xs);
      text-align: left;
      white-space: nowrap;

      &:hover,
      &:focus {
        background-color: var(--light-navy);
        border-left: 2px solid var(--green);
      }
    }
  }

  &__tabpanels {
    position: relative;
    width: 100%;
    margin-left: 20px;
  }

  &__tabpanel {
    width: 100%;
    height: auto;
    padding: 10px 5px;

    &-h3 {
      margin-bottom: 2px;
      font-size: var(--fz-xxl);
      font-weight: 500;
      line-height: 1.3;
    }

    &-company {
      color: var(--green);
    }

    &-range {
      margin-bottom: 25px;
      color: var(--light-slate);
      font-family: var(--font-mono);
      font-size: var(--fz-xs);
    }

    &-list {
      padding: 0px;
      margin: 0px;
      list-style: none;
      font-size: var(--fz-lg);

      li {
        position: relative;
        padding-left: 30px;
        margin-bottom: 10px;

        &::before {
          content: "▹";
          position: absolute;
          left: 0px;
          color: var(--green);
        }
      }
    }
  }
}

.selected {
  border-left: 2px solid var(--green);
}
