<section
  id="jobs"
  class="jobs__section"
  data-sr-id="2"
  style="
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
      transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  "
>
  <h2 class="numbered-heading">Where I’ve Worked</h2>
  <div class="jobs__inner">
    <div class="jobs__tablist">
      <button class="jobs__tablist-btn selected">Tata Consultancy Services</button>
    </div>
    <div class="jobs__tabpanels">
      <div class="jobs__tabpanel fadedown-enter-done">
        <h3 class="jobs__tabpanel-h3">
          <span>Developer </span
          ><span class="jobs__tabpanel-company"
            >&nbsp;@&nbsp;<a
              href="https://www.tcs.com/"
              class="inline-link"
              rel="noopener noreferrer"
              target="_blank"
              class="a__highlighted_underlined"
              >Tata Consultancy Services</a
            ></span
          >
        </h3>
        <p class="jobs__tabpanel-range">March 2021 - Present</p>
        <div>
          <ul class="jobs__tabpanel-list">
            <li>
                Worked closely with DevOps to migrate a high-resolution image viewing application from on-premises to CaaS
            </li>
            <li>
                Migrated code-repositories from bitbucket to GitLab
            </li>
            <li>
                Successfully developed and delivered two access management applications for AWS and corporate LDAP
                using Angular with over 95% customer satisfaction rating.                
            </li>
            <li>
                Developed REST APIs for aforementioned web applications on AWS using python, also utilized various 
                other AWS's services.
            </li>
            <li>
                Worked on POCs using both Angular and React that interacted with applications like JIRA.
            </li>
            <li>
                Recognized as a contextual master in TCS due to my successful and efficient project execution that 
brought value to the customer.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
