<section
  id="about"
  class="about__wrapper"
  data-sr-id="0"
  style="
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
      transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
  "
>
  <h2 class="numbered-heading">About Me</h2>
  <div class="inner">
    <div>
      <div>
        <p>
          Hello! My name is {{ aboutStaticData.name }} and {{ aboutStaticData.description }}
        </p>
        <p>
          <span *ngIf="aboutStaticData.notableExperiences.length"> Fast-forward to today, and I’ve had the privilege of working at </span>
          <a *ngFor="let notable_experience of aboutStaticData.notableExperiences; let i=index"
          class="a__highlighted_underlined"
            [href]= "notable_experience.href"
            rel="noopener noreferrer"
            target="_blank">
            {{ notable_experience.display_text }}{{i === aboutStaticData.notableExperiences.length - 1 ? "." : ","}}
          </a>
          My main focus these days is building accessible, inclusive products
          and digital experiences at
          <a
            class="a__highlighted_underlined"
            [href]="aboutStaticData.currentExperience.href"
            rel="noopener noreferrer"
            target="_blank"
            >{{aboutStaticData.currentExperience.name}}</a
          >
          for a variety of clients.
        </p>
        <!-- <p>
          I also recently
          <a
            class="a__highlighted_underlined"
            href=""
            rel="noopener noreferrer"
            target="_blank"
            >launched a course</a
          >
          that covers everything ...
        </p> -->
        <p>Here are a few technologies I’ve been working with recently:</p>
      </div>
      <ul class="about__skills-list">
        <li class="about__skills-list-li" *ngFor="let skill of aboutStaticData.skills">{{ skill }}</li>
      </ul>
    </div>
    <div class="about__styledPic positioner">
      <div class="about__styledPic-wrapper">
        <div class="about__image-wrapper">
          <div style="max-width: 500px; display: block">
            <img
              alt=""
              role="presentation"
              aria-hidden="true"
              src="data:image/svg+xml;charset=utf-8,%3Csvg height='500' width='500' xmlns='http://www.w3.org/2000/svg' version='1.1'%3E%3C/svg%3E"
              style="max-width: 100%; display: block; position: static"
            />
          </div>
          <div
            aria-hidden="true"
            data-placeholder-image=""
            style="
              opacity: 0;
              transition: opacity 500ms linear 0s;
              background-color: rgb(232, 232, 232);
              position: absolute;
              inset: 0px;
              object-fit: cover;
            "
          ></div>
          <!-- <img src="/src/assets/images/pic.jpg"/> -->
          <picture>
            <!-- <source
              type="image/avif"
              srcset="
                /static/30a645f7db6038f83287d0c6042d3b2b/aebc8/me.avif 125w,
                /static/30a645f7db6038f83287d0c6042d3b2b/6b255/me.avif 250w,
                /static/30a645f7db6038f83287d0c6042d3b2b/f9526/me.avif 500w
              "
              sizes="(min-width: 500px) 500px, 100vw" />
            <source
              type="image/webp"
              srcset="
                /static/30a645f7db6038f83287d0c6042d3b2b/4155f/me.webp 125w,
                /static/30a645f7db6038f83287d0c6042d3b2b/02deb/me.webp 250w,
                /static/30a645f7db6038f83287d0c6042d3b2b/1ee78/me.webp 500w
              "
              sizes="(min-width: 500px) 500px, 100vw" />
            <img
              width="500"
              height="500"
              data-main-image=""
              sizes="(min-width: 500px) 500px, 100vw"
              decoding="async"
              src="/static/30a645f7db6038f83287d0c6042d3b2b/25f3c/me.jpg"
              srcset="
                /static/30a645f7db6038f83287d0c6042d3b2b/2dd75/me.jpg 125w,
                /static/30a645f7db6038f83287d0c6042d3b2b/754ad/me.jpg 250w,
                /static/30a645f7db6038f83287d0c6042d3b2b/25f3c/me.jpg 500w
              "
              alt="Headshot"
              style="object-fit: cover; opacity: 1" /> -->
          <img src="../../../../assets/images/pic.jpg" width="500"
          height="500" alt="Headshot" style="object-fit: cover; opacity: 1"/>
              </picture>
          <!-- <noscript></noscript> -->
        </div>
      </div>
    </div>
  </div>
</section>
