@import "/src/assets/static/mixins";

.header {
  &__wrapper {
    padding: 0rem 4rem;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    width: 100%;
    height: var(--nav-height);
    background-color: rgba(10, 25, 47, 0.85);
    backdrop-filter: blur(10px);
    transition: var(--transition);
    pointer-events: auto !important;
    user-select: auto !important;

    @include respond(phone) {
      padding: 0rem 2rem;
    }
  }

  &__nav {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    color: var(--lightest-slate);
    font-family: var(--font-mono);
    counter-reset: item 0;
    z-index: 12;

    // &-nav {
    //   display: flex;
    //   -webkit-box-pack: center;
    //   justify-content: center;
    //   -webkit-box-align: center;
    //   align-items: center;
    // }

    &-links {
      display: flex;
      -webkit-box-align: center;
      align-items: center;

      ol {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
        list-style: none;
      }
      li {
        margin: 0px 5px;
        position: relative;
        counter-increment: item 1;
        font-size: var(--fz-xs);

        a {
          padding: 10px;

          &::before {
            content: "0" counter(item) ".";
            margin-right: 5px;
            color: var(--green);
            font-size: var(--fz-xxs);
            text-align: right;
          }
        }
      }
    }
    &-resume_button {
        color: var(--green);
        background-color: transparent;
        border: 1px solid var(--green);
        border-radius: var(--border-radius);
        padding: 0.75rem 1rem;
        font-family: var(--font-mono);
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: var(--transition);
        margin-left: 15px;
        font-size: var(--fz-xs);

        &:hover, &:focus, &:active {
            background-color: var(--green-tint);
            outline: none;
        }
    }
  }
}