<div class="header__wrapper">
  <nav class="header__nav">
    <div class="header__nav-logo">Vinit</div>
    <div class="header__nav-links">
      <ol>
        <li class="fadedown-enter-done" style="animation-delay: 0ms">
          <a href="/#about">About</a>
        </li>
        <li class="fadedown-enter-done" style="animation-delay: 100ms">
          <a href="/#jobs">Experience</a>
        </li>
        <li class="fadedown-enter-done" style="animation-delay: 200ms">
          <a href="/#projects">Work</a>
        </li>
        <li class="fadedown-enter-done" style="animation-delay: 300ms">
          <a href="/#contact">Contact</a>
        </li>
      </ol>
      <div class="fadedown-enter-done" style="animation-delay: 400ms">
        <a
          class="header__nav-resume_button"
          href="/resume.pdf"
          target="_blank"
          rel="noopener noreferrer"
          >Resume</a
        >
      </div>
    </div>
  </nav>
</div>
