<div class="header__wrapper">
  <nav class="header__nav">
    <div
      class="header__nav-logo fadedown-enter-done"
      style="animation-delay: 0ms"
    >
      <a href="/#">Vinit</a>
    </div>
    <div class="header__nav-links">
      <ol>
        <li
          *ngFor="let link of navlinks"
          class="fadedown-enter-done"
          [style]="link.style"
        >
          <a [href]="link.href">{{ link.display_text }}</a>
        </li>
      </ol>
      <div class="fadedown-enter-done" style="animation-delay: 400ms">
        <a
          class="header__nav-resume_button"
          href="../../../../assets/Vinit Sharma.pdf"
          target="_self"
          download
          >Resume</a
        >
      </div>
    </div>
    <div class="header__navsm">
      <input class="header__navsm__checkbox" type="checkbox" [checked]="showMenu" id="menu-btn" />
      <label class="header__navsm__button" (click)="handleMenuClick()">
        <span class="header__navsm__icon">&nbsp;</span>
      </label>
      <div class="header__navsm__background">&nbsp;</div>
      <div class="header__navsm__nav">
        <ol class="header__navsm__list">
          <li class="header__navsm__link" *ngFor="let link of navlinks">
            <a [href]="link.href" (click) = "handleMenuClick()">{{ link.display_text }}</a>
          </li>
        </ol>
      </div>
    </div>
  </nav>
</div>
