@import "/src/assets/static/mixins";

.homepage {
  &__wrapper {
    counter-reset: section 0;
    margin: 0px auto;
    width: 100%;
    max-width: 160rem;
    min-height: 100vh;
    padding: 20rem 15rem;
  }
}

.fillHeight {
  padding: 0px 15rem;

  @include respond(phone) {
    padding: 0rem 3rem;
  }
}
